.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border: 2px solid black;
    height: 800px;
    width: 800px;
}

.chessboard .tile {
    width: 100px;
    height: 100px;
}
.chessboard .black-tile {
    background-color: #B88761;
}
.chessboard .white-tile {
    background-color: #EDD6B0;
}

@media (max-width: 1000px) {
  .chessboard {
      display: grid;
      grid-template-columns: repeat(8, 70px);
      grid-template-rows: repeat(8, 70px);
      border: 2px solid black;
      width: 560px;
      height: 560px;
  }
  .chessboard .tile {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 650px) {
  .chessboard {
      display: grid;
      grid-template-columns: repeat(8, 60px);
      grid-template-rows: repeat(8, 60px);
      border: 2px solid black;
      width: 480px;
      height: 480px;
  }
  .chessboard .tile {
    width: 60px;
    height: 60px;
  }
}

img{
  height: 100px;
  cursor: pointer;
}

