.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border: 2px solid black;
    height: 800px;
    width: 800px;
}

@media (max-width: 1000px) {
  .chessboard {
      display: grid;
      grid-template-columns: repeat(8, 70px);
      grid-template-rows: repeat(8, 70px);
      border: 2px solid black;
      width: 560px;
      height: 560px;
  }
 
}
@media (max-width: 650px) {
  .chessboard {
      display: grid;
      grid-template-columns: repeat(8, 60px);
      grid-template-rows: repeat(8, 60px);
      border: 2px solid black;
      width: 480px;
      height: 480px;
  }

}



